## Simple Median Value Test

In [2]:
import pandas as pd

In [3]:
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')
submission_df = pd.read_csv('data/sample_submission.csv')

In [4]:
train_df.SalePrice.median()

163000.0

In [5]:
submission_df['SalePrice'] = train_df.SalePrice.median()
submission_df.head()

     Id  SalePrice
0  1461   163000.0
1  1462   163000.0
2  1463   163000.0
3  1464   163000.0
4  1465   163000.0

In [6]:
submission_df.to_csv('submissions/0_submission_median.csv', index=False)